@use "destyle";


@function get-vw($px, $base: 1100) { 
    @return ($px / $base) * 100vw; 
}


img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
    color: #333333;
}

// header
.header {
    background-color: antiquewhite;
    max-width: 60px;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;

    @media (max-width:1100px) {
            background-color: transparent;
            // z-index: 1;
            padding: 20px 20px 0 0;
        }

    &__nav {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        cursor: pointer;
        position: relative;
        width: 55px;
        z-index: 50;

        &_line {
            // width: 3em;
            width: 100%;
            height: 3px;
            background-color: #333333;
            margin-bottom: 0.5em;
        }

        &.is-open{
            .header__nav_line:nth-child(1){
                transform: translateY(10px) rotate(45deg);
            }
            .header__nav_line:nth-child(2){
                opacity: 0;
            }
            .header__nav_line:nth-child(3){
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }


    &__window{ 
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #f5abab;
        transition: right 0.3s ease;
        z-index: 30;

        &.is-open{
            right: 0;
        }

        &__list{
            padding: 2em;
        }

        &_item{
            margin-bottom: 1.5em;
        }

    }

    &__icon {
        max-width: 100px;
        height: auto;
        margin-block: 1em;

        @media (max-width:1100px) {
            display: none;
        }
    }

    &__logo {
        height: 65%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:1100px) {
            display: none;
        }

        p {
            writing-mode: sideways-rl;
        }
    }

    &__insta {
        margin-bottom: 1em;

        @media (max-width:1100px) {
            display: none;
        }

        a {
            display: block;

            img {
                max-width: 25px;
            }
        }
    }

    &__cart {
        @media (max-width:1100px) {
            display: none;
        }
        a {
            display: block;

            img {
                max-width: 25px;
            }
        }
    }
}


// header nab クリック時のコード

// main
.kv__container{
    .kv__movie{
        width: 100%;
        background-color: beige;
        padding-bottom: 50px;

        @media (max-width:1100px) {
            padding-bottom: 4.545454545454546vw;
        }

        &_img{
            width: 95%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            @media (max-width:1100px) {
            width: 100%;
            }

            h1{
                font-size: get-vw(48,1980);
                font-weight: bold;

                @media (max-width:1100px) {
                    font-size: get-vw(48,1100);
                }
            }
        }
    }
}

// history
.history{
    background-color: #f5abab;

    &__container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid #333333;
    background-color: #ffffff;
    padding-block: 50px 100px;
    }

    &__header{
        max-width: 200px;
        width: 100%;
        margin: 0 auto 30px;
    }

    &__ttl{
        // 「年表」テキスト部分
        text-align: center;
        font-weight: 600;
        font-size: 24px;
    }

    // 年表リスト開始
    &__list{
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        // border: 3px solid #f5abab;

        &__year{
            position: relative;
            padding-bottom: 50px;

            &::after{
            content: "";
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: calc(100% - 150px);
            background-color: #6fc46c;
            z-index: 1;
            }
        }
        &__head{
        // 年代テキストbox部分
        margin:0 auto 30px;
        max-width: 150px;
        aspect-ratio: 1/1;
        background-color: #6fc46c;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

            &__ttl{
            // 年代テキスト部分
            font-weight: 600;
            font-size: 24px;
            }
        }

        &__content{
        // outとinを囲むbox
        display: flex;
        gap: 50px;
        position: relative;
        z-index: 2;

        @media (max-width:1100px) {
            flex-direction: column;
            gap: 30px;
        }

            &_ttl{
                // box内のタイトル
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                margin: 20px auto;
            }

            &_text{
                // box内の1つ目テキスト
                font-size: 18px;

                @media (max-width:1100px) {
                    text-align: center;
                }  
            }

            &_text02{
                // box内の2つ目テキスト（画像）
                display: flex;
                gap: 5px;

                @media (max-width:1100px) {
                    flex-direction: column;
                    gap: 20px;
                }
                
                .content_text02{
                    flex: 1;

                    &_p{
                    @media (max-width:1100px) {
                    text-align: center;
                    }
                    }

                    &_img{
                        // box内の2つ目画像部分
                        width: 100%;
                        aspect-ratio: 16/9;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center bottom;
                            display: block;
                        }
                    }
                }
            }

            &_ttl_button{
                // ttlの横、＋のアクション
                display: flex;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;

                .toggle_icon{
                    font-size: 24px;
                    transition: transform 0.4s;
                }
            }

            &_text_open{
                // +によって表示されるテキストのキホン形
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                transition:max-height 0.4s ease-in-out 0.25s, opacity 0.25s ease-in-out;

                @media (max-width:1100px) {
                    text-align: left;
                    padding-inline: 9.090909090909092vw;
                    }
            }

            &_text_open.open{
                // +によって表示されるテキストjsがつくとき
                max-height: 500px;
                opacity: 1;
                transition:max-height 0.4s ease-in-out, opacity 0.25s ease-in-out 0.15s;

            }
        }

        &__out , &__in{
            padding: 10px;
            flex: 1;
            border-radius: 10px;
            border: 2px solid #b7c46c;
            position: relative;

            @media (max-width:1100px) {
            margin-inline: 2em;
            background-color: #ffffff;
            }

            &::after{
            content: "";
            position: absolute;
            transform: translateX(-50%);
            width: 25px;
            height: 2px;
            background-color: #6fc46c;

            @media (max-width:1100px) {
            display: none;
            }
            }
        }

        &__out::after{
            top: 50px;
            right: -9%;
        }

        &__in::after{
            top: 100px;
            left: -3%;
        }
    }
    
}