/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
} 
img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  color: #333333;
}

body {
  padding-right: 60px;
}
@media (max-width: 1100px) {
  body {
    padding-right: 0;
  }
}

.header {
  background-color: antiquewhite;
  max-width: 60px;
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
}
@media (max-width: 1100px) {
  .header {
    background-color: transparent;
    padding: 20px 20px 0 0;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  cursor: pointer;
  position: relative;
  width: 55px;
  z-index: 50;
}
.header__nav_line {
  width: 100%;
  height: 3px;
  background-color: #333333;
  margin-bottom: 0.5em;
}
.header__nav.is-open .header__nav_line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header__nav.is-open .header__nav_line:nth-child(2) {
  opacity: 0;
}
.header__nav.is-open .header__nav_line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.header__window {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 90vh;
  background-color: antiquewhite;
  transition: right 0.3s ease;
  z-index: 30;
  border-radius: 10px;
}
.header__window.is-open {
  right: 0;
}
.header__window__list {
  padding: 2em;
  font-size: 24px;
}
.header__window_item {
  margin-bottom: 1.5em;
}
.header__icon {
  max-width: 100px;
  height: auto;
  margin-block: 1em;
}
@media (max-width: 1100px) {
  .header__icon {
    display: none;
  }
}
.header__logo {
  height: 65%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .header__logo {
    display: none;
  }
}
.header__logo p {
  writing-mode: sideways-rl;
}
.header__insta {
  margin-bottom: 1em;
}
@media (max-width: 1100px) {
  .header__insta {
    display: none;
  }
}
.header__insta a {
  display: block;
}
.header__insta a img {
  max-width: 25px;
}
@media (max-width: 1100px) {
  .header__cart {
    display: none;
  }
}
.header__cart a {
  display: block;
}
.header__cart a img {
  max-width: 25px;
}

.kv__container .kv__movie {
  width: 100%;
  background-color: beige;
  padding-bottom: 50px;
}
@media (max-width: 1100px) {
  .kv__container .kv__movie {
    padding-bottom: 4.5454545455vw;
  }
}
.kv__container .kv__movie_img {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .kv__container .kv__movie_img {
    width: 100%;
  }
}
.kv__container .kv__movie_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.history {
  background: beige;
}
.history__container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  background: #f4f4f4;
  padding-block: 50px 100px;
  border-radius: 10px;
}
.history__header {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 30px;
}
.history__ttl {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.history__list {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.history__list__year {
  position: relative;
  padding-bottom: 50px;
}
.history__list__year::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: calc(100% - 150px);
  background-color: #ffffff;
  z-index: 1;
}
.history__list__head {
  margin: 0 auto 30px;
  max-width: 150px;
  aspect-ratio: 1/1;
  background: #062b71;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  text-align: center;
}
.history__list__head__ttl {
  font-weight: 600;
  font-size: 24px;
}
.history__list__content {
  display: flex;
  gap: 50px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1100px) {
  .history__list__content {
    flex-direction: column;
    gap: 30px;
  }
}
.history__list__content_ttl {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 20px auto;
}
.history__list__content_text {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}
@media (max-width: 1100px) {
  .history__list__content_text {
    text-align: center;
  }
}
.history__list__content_text02_text_list {
  display: block;
}
.history__list__content_text02_img_list {
  display: flex;
  gap: 5px;
}
@media (max-width: 1100px) {
  .history__list__content_text02_img_list {
    flex-direction: column;
    gap: 20px;
  }
}
.history__list__content_text02 .content_text02 {
  flex: 1;
}
.history__list__content_text02 .content_text02_p {
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 1100px) {
  .history__list__content_text02 .content_text02_p {
    text-align: center;
  }
}
.history__list__content_text02 .content_text02_img {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.history__list__content_text02 .content_text02_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  display: block;
}
.history__list__content_ttl_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.history__list__content_ttl_button .ttl_text {
  flex: 1;
  text-align: center;
}
.history__list__content_ttl_button .toggle_icon {
  margin-right: 60px;
  font-size: 24px;
  transition: transform 0.4s;
}
.history__list__content_text_open {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease-in-out 0.25s, opacity 0.25s ease-in-out;
}
@media (max-width: 1100px) {
  .history__list__content_text_open {
    text-align: left;
    padding-inline: 9.0909090909vw;
  }
}
.history__list__content_text_open.open {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.4s ease-in-out, opacity 0.25s ease-in-out 0.15s;
}
.history__list__out, .history__list__in {
  padding: 10px;
  flex: 1;
  border-radius: 10px;
  position: relative;
  background: #ffffff;
}
@media (max-width: 1100px) {
  .history__list__out, .history__list__in {
    margin-inline: 2em;
    background-color: #ffffff;
  }
}
.history__list__out::after, .history__list__in::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  width: 25px;
  height: 5px;
  background: #ffffff;
}
@media (max-width: 1100px) {
  .history__list__out::after, .history__list__in::after {
    display: none;
  }
}
.history__list__out::after {
  top: 50px;
  right: -9%;
}
.history__list__in::after {
  top: 100px;
  left: -5%;
}
.history .img_modal {
  display: none;
  position: fixed;
  z-index: 99999;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.history .img_modal__box {
  width: 60vw;
  max-width: 800px;
  max-height: 80vh;
  background: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.history .img_modal__content {
  width: 100%;
  height: auto;
  max-height: 75vh;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.history .img_modal__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
}

.family {
  background: beige;
  margin-bottom: 100px;
}
.family__container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  background: #f4f4f4;
  padding-bottom: 100px;
}
.family__header {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 30px;
}
.family__ttl {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.family__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 16px;
}
.family__grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 4px;
}

.movie {
  background: beige;
  margin-bottom: 100px;
}
.movie__container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  background: #f4f4f4;
  padding-bottom: 100px;
}
.movie__header {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 30px;
}
.movie__ttl {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.movie__grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.movie__item {
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}
.movie__item img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.movie__item__text {
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
}
.movie .modal {
  display: none;
  position: fixed;
  z-index: 99999;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.movie .modal__content {
  width: 60vw;
  max-width: 800px;
  max-height: 80vh;
  background: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.movie .modal__modalVideo {
  width: 100%;
  height: auto;
  max-height: 75vh;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.movie .modal__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
  z-index: 100000;
}/*# sourceMappingURL=style.css.map */