@use "destyle.scss";

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

// header
.header {
    background-color: antiquewhite;
    width: 5%;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        &_line {
            width: 3em;
            height: 3px;
            background-color: #333333;
            margin-bottom: 0.5em;
        }
    }

    &__icon {
        max-width: 100px;
        height: auto;
        margin-block: 1em;
    }

    &__logo {
        height: 65%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            writing-mode: sideways-rl;
        }
    }

    &__insta {
        margin-bottom: 1em;

        a {
            display: block;

            img {
                max-width: 25px;
            }
        }
    }

    &__cart {
        a {
            display: block;

            img {
                max-width: 25px;
            }
        }
    }
}


// header nab クリック時のコード




// main
.main__container{

    .kv__movie{
        width: 100%;
        height: 100vh;
        background-color: beige;

        &_img{
            background-image: url(/img/kv__img.jpg);
            width: 95%;
            height: 100vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            h1{
                font-size: 48px;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }
}
