/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
} 
img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: antiquewhite;
  width: 5%;
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__nav {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.header__nav_line {
  width: 3em;
  height: 3px;
  background-color: #333333;
  margin-bottom: 0.5em;
}
.header__icon {
  max-width: 100px;
  height: auto;
  margin-block: 1em;
}
.header__logo {
  height: 65%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo p {
  writing-mode: sideways-rl;
}
.header__insta {
  margin-bottom: 1em;
}
.header__insta a {
  display: block;
}
.header__insta a img {
  max-width: 25px;
}
.header__cart a {
  display: block;
}
.header__cart a img {
  max-width: 25px;
}

.kv__container .kv__movie {
  width: 100%;
  height: 100vh;
  background-color: beige;
}
.kv__container .kv__movie_img {
  background-image: url(/img/kv__img.jpg);
  width: 95%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.kv__container .kv__movie_img h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

.history {
  background-color: #f5abab;
}
.history__container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 3px solid #333333;
  background-color: #ffffff;
  padding-block: 50px 100px;
}
.history__header {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 30px;
}
.history__ttl {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.history__list {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.history__list__year {
  position: relative;
  padding-bottom: 50px;
}
.history__list__year::after {
  content: "";
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc(100% - 150px);
  background-color: #6fc46c;
}
.history__list__head {
  margin: 0 auto 30px;
  max-width: 150px;
  aspect-ratio: 1/1;
  background-color: #6fc46c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.history__list__head__ttl {
  font-weight: 600;
  font-size: 24px;
}
.history__list__content {
  display: flex;
  gap: 50px;
}
.history__list__content_ttl {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 20px auto;
}
.history__list__content_text {
  font-size: 18px;
}
.history__list__content_text02 {
  display: flex;
  gap: 5px;
}
.history__list__content_text02 .content_text02 {
  flex: 1;
}
.history__list__content_text02 .content_text02_img {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.history__list__content_text02 .content_text02_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  display: block;
}
.history__list__content_ttl_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.history__list__content_ttl_button .toggle_icon {
  font-size: 24px;
  transition: transform 0.4s;
}
.history__list__content_text_open {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease-in-out 0.25s, opacity 0.25s ease-in-out;
}
.history__list__content_text_open.open {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.4s ease-in-out, opacity 0.25s ease-in-out 0.15s;
}
.history__list__out, .history__list__in {
  padding: 10px;
  flex: 1;
  border-radius: 10px;
  border: 2px solid #b7c46c;
  position: relative;
}
.history__list__out::after, .history__list__in::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  width: 25px;
  height: 2px;
  background-color: #6fc46c;
}
.history__list__out::after {
  top: 50px;
  right: -9%;
}
.history__list__in::after {
  top: 100px;
  left: -3%;
}/*# sourceMappingURL=style.css.map */